 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;.
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav {
background-color: rgb(255, 255, 255);
}

.nav a {
color:rgb(0, 0, 0);
text-decoration: none;
padding: 10px;
display: inline-block;
}
.intro {
    text-align: center;
}
.intro-content {
    text-align: left;
}
.avatar {
    display:flex;
    justify-content: space-around;
    margin-top: 20px;
}
body {
    justify-content: space-around;
    text-align: center;
}